.test {
  display: flex;
  gap: 16px;
  li {
    width: 100px;
    height: 50px;

    $color_list: (
      #{$primary-500},
      #{$secondary-500},
      #{$info-500},
      #{$warning-500},
      #{$error-500},
      #{$neutral-500}
    );

    @for $i from 1 through length($color_list) {
      &:nth-child(#{$i}) {
        background-color: nth($color_list, $i);
      }
    }
  }
}
